*,
*::before,
*::after{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

}


:root{

	// ### Primary
	--Red: hsl(0, 100%, 74%); 
	--Green: hsl(154, 59%, 51%);

	// ### Accent
	--Blue: hsl(248, 32%, 49%);

	// ### Neutral
	--Dark-Blue: hsl(249, 10%, 26%); 
	--Grayish-Blue: hsl(246, 25%, 77%);

}

html{
	font-size: 62.5%;
}

body{
	width: 100%;
	min-height: 100vh;
	
	color: #fff;
	background: url("../images/bg-intro-desktop.png") 100%/cover no-repeat, var(--Red);
	
	font-family: 'Poppins', sans-serif;
	font-size: 1.6rem;
}


a{
	text-decoration: none;
	color: inherit;

}

.main{
	width: 100%;
	min-height: 100vh;
	padding: 4rem 2rem;

	&__container{
		max-width: 60rem;
		margin: auto;
	}


	&__text{
		text-align: center;
		margin-bottom: 5rem;
	}

	&__heading{
		margin: 2rem 0;
		font-size: 3rem;
		line-height: 1.2;
	}

	&__paragraph{
		opacity: 0.85;
		font-weight: 500;
		
	}
	@media screen and (min-width: 580px){
		&__paragraph{
			max-width: 60rem;
			margin:  0 auto;
		}
		&__heading{
			font-size: 4rem;
		}
	}
	

	@media screen and (min-width: 1000px){
		display: grid;

		&__container{
			max-width: 1150px;
			display: flex;
		}

		&__text{
			margin: 0;
			text-align: left;
			display: flex;
			flex-direction: column;
			justify-content: center;
			flex: 1;
			padding: 0 2rem;

		}
		&__heading{
			font-size: 5rem;
		}
		&__paragraph{
			margin: 0;
		}
	}
}
.form-wrapper{
	--border-radius: 0.7rem;
	--box-shadow: 0 0.6rem 0px 0 rgba(0, 0, 0, 0.2);
	
	@media screen and (min-width: 1000px){
		padding: 0 2rem;

		display: flex;
		justify-content: center;
		flex-direction: column;
		flex: 1;
	}
}
.form-header{
	border-radius: var(--border-radius);
	background-color: var(--Blue);
	padding: 2rem 6rem;
	box-shadow: var(--box-shadow);
	margin-bottom: 2rem;
	text-align: center;
	p{
		font-size: 1.4rem;
	}

}
.form{
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	padding: 3rem;
	background-color: #fff;

	&__input{
		width: 100%;
		padding: 2rem;
		margin-bottom: 2rem;
		border-radius: 0.4rem;
		border: 1px solid rgba(138, 137, 137, 0.314);
		font-weight: 600;
		font-family: 'Poppins', sans-serif;
		font-size: 1.6rem;

	}

	&__btn{
		width: 100%;
		margin-bottom: 1.5rem;
		padding: 2rem 1rem;
		border-radius: 0.6rem;
		border: none;
		
		color: #fff;
		background-color: var(--Green);
		box-shadow: 0 0.4rem 0px 0 hsl(154, 59%, 45%);
		
		letter-spacing: 2;
		font-family: "Poppins", sans-serif;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 1.6rem;
		letter-spacing: 1px;
		cursor: pointer;
	}
	&__disclaimer{
		display: block;
		padding: 0 0.15rem;

		color: var(--Grayish-Blue);
		opacity: 0.8;

		text-align: center;
		font-weight: 500;
	}

	&__link{
		color: var(--Red);
		font-weight: 700;
	}

}

@media screen and (max-width: 350px ) {
	html{
		font-size: 50%;
	}
	
}